
.kirby{

    position: relative;
    float: right;
}

.img{
    height: 50%;
    width: 50%
}

.canvas{
    position: relative;
    float: left;
}

.audio{
    position: relative;
    margin-top: 1000px;
}
